body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(51, 36, 47);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}

.galleryImage {
  width: 100vw;
  height: 80vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.infoCards {
  display: flex;
  flex-wrap: wrap;
  margin-top:2em;
  width: 90vw;
  justify-content: center;
  align-content: center;
  background-color: rgb(228, 238, 235);
}

.getInfo{
  padding: 2em;
  height: 15em;
  width: 12em;
  border: 1px solid black;
  margin: 3em 3em;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.aboutCards {
  display: flex;
  flex-wrap: wrap;
  margin-top:1em;
  width: 90vw;
  justify-content: center;
  align-content: center;
  background-color: rgb(140, 130, 163);
}

.getAbout{
  padding: 2em;
  height: 5em;
  width: 27em;
  border: 1px solid black;
  margin: 1em 2em;
  background-color: white;
  border-radius: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}