/* Ensure the body and html take the full height */
body, html {
  height: 100%; /* Full height */
  margin: 0; /* Reset default margin */
}

/* Footer styles */
.Footer {
  background-color: #00569e; /* Background color */
  color: white; /* Text color */
  text-align: center; /* Centered text */
  padding: 20px 0; /* Padding for top and bottom */
  position: relative; /* Ensure stacking context */
  width: 100%; /* Full viewport width */
  bottom: 0; /* Align at the bottom */
  margin: 0; /* Reset margin */
  clear: both; /* Ensure it clears floats if any */
}

.Footer p {
  margin: 0; /* Remove default margin */
  font-size: 16px; /* Adjust font size as needed */
  color: white !important;
}
